@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes like-animation {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }
  
  @keyframes save-animation {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .animate-like {
    animation: like-animation 0.5s ease-in-out;
  }
  
  .animate-save {
    animation: save-animation 0.5s ease-in-out;
  }
  